.logoutbutton:hover {
  background-color: #b72727;
}

.home_navbar {
  height: 50px;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
}
.home_footer {
  height: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40vw;
  /* background-color: #525252; */
  background-color: #1e6091;
  border-radius: 60px 0px 0px 0px;
  color: white;
  display: grid;
  place-items: center;
  /* z-index: -1; */
}
.home_hamburger_menu {
  width: 48px;
  height: 48px;
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  transition: background 0.3s, width 0.2s, height 0.2s;
}
.home_hamburger_menu:hover {
  background: #5994c0;
  color: white;
  width: 52px;
  height: 52px;
}
.color_white {
  color: white;
}
.home_footer_icon_container {
  display: grid;
  /* justify-content: space-evenly; */
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 90%;
  margin-left: 20px;
}
.home_icon_back {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s, width 0.2s, height 0.2s;
}
.home_icon_back:hover {
  background: #5994c0;
  width: 55px;
  height: 55px;
}
.home_sidebar {
  position: absolute;
  left: -300px;
  top: 0;
  height: 100vh;
  width: 300px;
  /* background-color: #252525; */
  background: #1e6091;
  display: flex;
  justify-content: center;
  z-index: 3;
  transition: all 0.2s;
}
.home_sidebar_active {
  left: 0;
}

@media only screen and (max-width: 420px) {
  .home_footer {
    width: 70vw;
    height: 65px;
  }
  .home_box_container {
    width: 86% !important;
  }
  .home_section_box {
    width: 150px !important;
    height: 150px !important;
    padding: 0.2rem;
  }
  .home_section_box:hover {
    width: 160px !important;
    height: 160px !important;
  }
}

/* .home_hamburger_menu {
  margin-left: 1rem;
} */
.left {
  float: left;
}

.home_section_container {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #282828;
}

.a_prop {
  text-decoration: none;
  color: #282828;
}
.home_section_box {
  padding: 1rem;
  width: 250px;
  height: 250px;
  font-family: "Roboto", sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  display: grid;
  place-items: center;
  align-items: center;
  transition: all 0.2s;
}
.home_section_box:hover {
  width: 260px;
  height: 260px;
}

.home_box_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  place-items: center;
}

.home_section_img_container {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_section_img_container > img {
  object-fit: cover;
  width: 100%;
  height: 165%;
}
.home_sidebar_insidecontainer {
  display: flex;
  width: 100%;
  height: calc(100% - 3.5rem);
  margin-top: 3.5rem;
  flex-direction: column;
}
.home_sidebar_insideusercontainer {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.hamburger_usericoncontainer {
  height: 100%;
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger_usericoncontainer > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.hamburger_userdatacontainer {
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  color: white;
}

/* .hamburger_list {
} */
.ml_20 {
  padding-left: 20px;
}
.hamburger_list > ul {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: white;
  margin-top: 20px;
}
.hamburger_list > ul > li {
  height: 60px;
  display: flex;
  align-items: center;
  transition: all 0.1s;
}
.hamburger_list > ul > li:hover {
  background-color: #fff;
  color: #000;
  font-weight: bold;
}
